@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html {
  font-family: 'Montserrat';
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  padding: 2em;

  .logo {
    color: black;
    font-weight: bold;
  }

  .menu-btn {
    width: 18px;
    float: right;
    cursor: pointer;
  }
}

section {
  padding: 4em;

  h1 {
    font-size: 4em;
    margin: 1em auto;
    width: 70%;

    &::before {
      content: ' ';
      border-top: 5px solid rgb(220, 255, 24);
      display: block;
    }

    &::after {
      content: ' ';
      background-color: rgb(220, 255, 24);
      height: 100px;
      width: 5px;
      display: block;
    }
  }
}


nav {
  position: absolute;
  background: black;
  padding: 2em;
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  display: none;
  
  .close-btn {
    width: 18px;
    float: right;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
    margin: 10% auto 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 20px;
    width: 80%;

    a {
      color: lightgray;
      font-weight: bold;
      font-size: 1.5em;
    }

    span {
      color: gray;
      display: block;
      font-size: 0.75em;
      margin-top: 20px;
    }

  }
}

.show-menu {
  display: block;
}